{% extends 'base.html' %}

{% block content %}

<div class="container p-4 my-4 border border-danger">
    <section id="resume" class="resume">
        <div class="container aos-init aos-animate" data-aos="fade-up">
          <div class="section-title">
            <h2>Resume</h2>
            <p class="fs-5 text-dark fst-italic"> 
                Experienced software engineer adept in full-stack development, passionate about crafting robust, high-quality solutions from concept to completion with efficiency and excellence.
            </p>
          </div>
    
          <div class="row">
            <div class="col-lg-6">
              <h3 class="resume-title">Sumary</h3>
              <div class="resume-item pb-0">
                <h4>Peter Brian Mwangi</h4>
                <p><em>Innovative and deadline-driven Software Engineer with 2+ years of experience designing and developing user-centered applications from initial concept to final, polished deliverable.</em></p>
                <p>
                </p><ul>
                  <li>767-00618, Nairobi, Kenya</li>
                  <li>(254) 792332642</li>
                  <li>wahomebrian98@gmail.com</li>
                </ul>
                <p></p>
              </div>
    
              <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                    <h4>Cloud Computing</h4>
                    <h5>2024</h5>
                    <p><em>AWS Restart</em></p>
                    <p>Developed a solid foundation in AWS Cloud, encompassing core cloud computing concepts, key AWS services, security best practices, and compliance. I honed my skills in building and deploying applications on AWS, managing and operating AWS infrastructure, and leveraging AWS tools for data storage, networking, and database management.</p>
              </div>
              <div class="resume-item">
                <h4>Post Graduate Diploma in Software Engineering</h4>
                <h5>2022 - 2024</h5>
                <p><em>ALX Software Engineering School</em></p>
                <p>Completed a rigorous Post Graduate Diploma in Software Engineering, focusing on advanced methodologies, algorithms, and architecture. Proficient in C, Python, and JavaScript, with hands-on experience in Django and React, emphasizing Agile methodologies, software testing, debugging, and maintenance.</p>
              </div>
             </div>
            <div class="col-lg-6">
              <h3 class="resume-title">Professional Experience</h3>
              <div class="resume-item">
                <h4>Software Engineer/FullStack Software Developer</h4>
                <h5>2021 - Present</h5>
                <p><em>Independent Contractor </em></p>
                <p>
                </p><ul>
                  <li>Successfully delivered custom web and desktop applications, showcasing proficiency in frontend and backend development.</li>
                  <li>Managed client relationships, ensuring satisfaction through effective communication and project management. </li>
                  <li>Implemented scalable solutions, leveraging technologies like Django, React, MongoDB, Postgresql, MySQL and BeeWare to meet diverse client requirements.</li>
                  <li>Oversee the efficient use of production project budgets.</li>
                </ul>
                <p></p>
              </div>
              <div class="resume-item">
                <h4>Internship -> Software Engineer</h4>
                <h5>2018 - 2020</h5>
                <p><em>Stratostaff ltd, Westlands, Kenya</em></p>
                <p>
                </p><ul>
                  <li>Developed and tested software applications, gaining proficiency in languages like Python, JavaScript and C.</li>
                  <li>Collaborated on projects following Agile methodologies, enhancing skills in problem-solving and teamwork.</li>
                  <li>Contributed to the design and implementation of scalable solutions, demonstrating initiative and adaptability in a professional environment.</li>
                  <li>Recommended and consulted with clients on the most appropriate technical solution.</li>
                </ul>
                <p></p>
              </div>
                
            <h3 class="resume-title">Certifications</h3>
              <div class="resume-item pb-0">
                <h4>Professional & Academic certifications</h4>
                <p class="fst-italic">Accredations</p>
                <p>
                </p><ul>
                  <li>AWS Certified Cloud Practitioner - AWS</li>
                  <li>AWS Restart Certification - AWS Restart Kenya</li>
                  <li>Software Engineering Post Graduate Certication - ALX</li>
                </ul>
                <p></p>
              </div>
                
            </div>
          </div>
    
        </div>
      </section>
</div>

{% endblock content %}
    
