<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container-fluid my-5 bg-light" >
    <a href="https://form.jotform.com/241935685757574"></a>
    <footer class=" text-center">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-2">
        
  
        <!-- Twitter -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #55acee;"
          target="_blank"
          href="https://x.com/wahomebrian254"
          role="button"
          ><i class="fab fa-twitter"></i
        ></a>
  
  
  
        <!-- Linkedin -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #0082ca;"
          target="_blank"
          href="https://www.linkedin.com/in/peterbrianmwangi/"
          role="button"
          ><i class="fab fa-linkedin-in"></i
        ></a>

        <!-- Github -->
        <a
          class="btn btn-primary btn-floating m-1"
          style="background-color: #000000;"
          target="_blank"
          href="https://github.com/Peter-Mwangi254"
          role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3">
        © {% now "Y" %} Copyright: <span class="fw-bold fst-italic">Peter Brian Mwangi</span>
    </div>

    <!-- Copyright -->
  </footer>
    
  </div>
  <!-- End of .container -->
